# Copyright (c) 2026 kcore Project
# SPDX-License-Identifier: Apache-2.0

# SoC configuration
CONFIG_SOC_RISCV_KCORE=y

# Serial and Console configuration
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_CONSOLE_KCORE=y
CONFIG_PRINTK=y

# Minimal footprint
CONFIG_MINIMAL_LIBC=y
CONFIG_SIZE_OPTIMIZATIONS=y

# Stack sizes
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_IDLE_STACK_SIZE=512
CONFIG_ISR_STACK_SIZE=2048
