# Copyright (c) 2026 kv32 Project
# SPDX-License-Identifier: Apache-2.0

# SoC configuration
CONFIG_SOC_RISCV_KV32=y

# Serial and Console configuration
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_CONSOLE_KV32=y
CONFIG_PRINTK=y

# Minimal footprint
CONFIG_MINIMAL_LIBC=y
CONFIG_SIZE_OPTIMIZATIONS=y

# Stack sizes
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_IDLE_STACK_SIZE=512
CONFIG_ISR_STACK_SIZE=2048
